altair
argon2-cffi==20.1.0
bokeh
boltons
contextily
cython
#dask
descartes
dtreeviz
entrypoints
Fiona
geographiclib
geopandas
#'geopy==2.0.0 #TODO GOSTNets needs an update for this to work
geopy
geoviews
#GOSTnets
holoviews
holoviz
hvplot
ipywidgets
jsonschema
jupyterlab
keplergl
matplotlib
nbconvert
nbformat
networkx
numpy
osmnx
pandas
Pillow
psutil==5.7.2
psycopg2
PyCRS
pyct
pygeos
pyproj
pyshp
python-dateutil
pytz
rasterio
requests
Rtree
scipy
Shapely
six
sklearn
streamlit
sqlalchemy
tornado
tqdm
urllib3
#project
